body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('bg.jpg');
    background-size: 600px 300px;
    /* background-size: cover;
    background-position: center; */
    /* background-color: #e7edff; */
}

header {
    background: #6ca7e1;
    color: rgb(251, 251, 251);
    padding: 20px 0;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header h1 {
    color: rgb(251, 251, 251);
    text-shadow: -1px -1px 0 rgb(74, 77, 81), 1px -1px 0 rgb(74, 77, 81), -1px 1px 0 rgb(74, 77, 81), 1px 1px 0 rgb(74, 77, 81);
}

nav {
    background: hsl(210, 52%, 58%);
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-bottom: 20px;
    border-top: 2px solid rgb(74, 77, 81);
    border-bottom: 2px solid rgb(74, 77, 81);
}

nav a {
    color: rgb(251, 251, 251);
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 10px 10px;
    max-width: 1000px;
    width: 60%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.87);
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid rgb(74, 77, 81);
}

footer {
    text-align: center;
    background: hsl(210, 52%, 58%);
    color: white;
    padding: 15px 0;
    margin-top: 20px;
    border: 2px solid rgb(74, 77, 81);
}

p {
    margin: 30px;
}