body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('bg.jpg');
    background-size: 600px 300px;
    /* background-size: cover;
    background-position: center; */
    /* background-color: #e7edff; */
}

header {
    background: #74b5f7;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

nav {
    background: hsl(210, 64%, 62%);
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
}

footer {
    text-align: center;
    background: #065a7b;
    color: white;
    padding: 15px 0;
}